*{
    font-family: 'Open Sans', sans-serif;
}

#message{
    color: red;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

#navBar{
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

#cover{
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: -100;
    background-image: url(../pics/cover.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}


