*{
    font-family: 'Open Sans', sans-serif;
}

#jumbo{
    position: relative;
    margin: 0 auto;
}

#navBar{
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

#cover{
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: -100;
    background-image: url(../pics/cover.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.error{
    color: red;
}





